#amenities {
  @media($dt) {
    html.__parallaxed & {
      margin-bottom:-250px;
    }
  }
  .container-1200 {
    padding-top: 70px;
    @media($dt) {
      padding-top:588px;
    }
  }
  #amenities-gallery {
    padding-top: 49px;
    .slide-container {
      padding-top:30px;
      &:first-child {
        padding-top: 0;
      }
      img {
        width: 100%;
      }
      .hover-state {
        display:none;
      }
      .title {
        display:block;
        text-align: left;
        margin: 5px 0 0 0;
        padding: 0 percentage(12/320);
      }
    }
  }
}
