@media(min-width:1000px) {
#amenities #amenities-gallery {
  padding-top: 105px;

  margin: 0 auto;
  padding: 105px percentage(12/320) 0 percentage(12/320);
  .slide-container {
    padding: 20px 0;
    position:relative;
    text-align:left;
    .inner {
      position:relative;

    }
    a.gallery-a{
      display:block;
      .img-inner {
        transition: all $ts;
        background: black;
      }
      &:hover {
          .img-inner {
            transform: scale(1.05);
            img {
              opacity: .5;
            }
          }
          .title .inner {
            transform: translateX(-50px);
          }
      }
    }
    &:nth-child(even) {
      a.gallery-a {
        &:hover {
          .title .inner {
            transform: translateX(50px);
          }
        }
      }
    }
    .img-holder {
      position:relative !important;
      display:inline-block;

      img {
        box-shadow: 2px -2px 7px 0px rgba(0, 0, 0, 0.5);
        width: 100%;
        transition: opacity $ts;
        position:relative !important;
      }
    }
    .title {
      margin: 0;
      padding: 0;
      position:absolute !important;
      left: 100% !important;
      top: 50% !important;
      transform: translateY(-50%);
      padding: 0 10px;
      .inner {
        display:inline-block;
        max-width:240px;
        transition: transform $ts;
      }
    }
    //
    .wrap >.inner {

      > * {
        //float: left;

      }
    }
    &:nth-child(even) {
      text-align: right;
      .wrap  .inner {
        .img-holder{
          float: right;
        }
         .title{
          text-align: right;
          left: auto !important;
        }
      }
    }
    &:nth-child(4n+1) {
      z-index:2;
      //margin-bottom: -6px;
      .img-holder {
        margin-left: 9.5%;
        width: 47%;
      }
      .title {
        width: 100% - (47%+9.5%);
        left: (47%+9.5%) !important;

      }
    }
    &:nth-child(4n+2) {

      z-index:3;
      .img-holder {
        width:62.5%;
      }
      .title {
        width: 100% - 62.5%;
        right: 100% - (100% - 62.5%) !important;
      }

    }
    &:nth-child(4n+3) {
      z-index:4;

      .img-holder {
        width: 63%;
      }
      .title {
        width: 100% - 63%;
        left: 100% - (100% - 63%) !important;
      }
    }
    &:nth-child(4n+4) {
      z-index:1;
      .img-holder {
        width: 41.5%;
      }
      .title {
        width: 100% - 41.5%;
        right: 100% - (100% - 41.5%) !important;
      }
    }
  }
}
}
