#building-within-a-building {
  //background: grey;
  .wrapper {
    padding:30px 0 0px;
    @media($dt) {
      padding-top:100px;
    }
  }
  .dl-holder {
    padding-top: 40px;
  }
  .bwb-gallery {
    padding-top: 40px;
    @media($dt) {
      padding-top:60px;
    }
    .cardStack {
      &:before {
        display:block;
        content:'CONCEPTUAL';
        position:absolute;
        z-index: 2;
        left: 10px;
        top: 10px;
        font-size: 10px;
        line-height:1;
      }
    }
  }
  .bwb-graphic {
    position:relative;
    margin-top:-50px;
    @media($dt) {
      margin-top: -100px;
    }
    .container {
      display:inline-block;
      position:relative;
      img {
        opacity: 0;
        transition: opacity $ts*2;
        &.__activated {
          opacity: 1;
        }
      }
      img.bwb-highlight {
        position: absolute;
        bottom: 4em;
        right: 4em;
        width: 464em;
        &.__activated {
          opacity: .5;
          animation: bwbpulse 4s linear infinite;
          animation-delay: $ts*2;
        }
      }
    }
  }
}



@keyframes bwbpulse {
  0% {
    opacity: .5;
  }
  25% {
    opacity: .75;
  }
  50% {
    opacity: .5;
  }
  75% {
    opacity:.35;
  }
  100% {
    opacity: .5;
  }
}
