.cardStack {
  //width: 9999em;
  opacity: 0;
  transition: opacity $ts;
  &.__loaded {
    opacity: 1;
  }
  .card {
    float:left;
    //width:100vw;
    >.inner {
      position:relative;
      display:inline-block;
      vertical-align: top;
      .caption {
        position: absolute;
        left: 0;
        bottom: 0;
        max-width: 100%;
        padding: 0 5px;
        line-height: 30px;
        font-size: 12px;
        background: rgba(black,.35);
        @media($dt) {
          font-size: 16px;
          line-height: 50px;
          padding: 0 25px;
        }
      }
    }
  }
}
