.cardStack {
  //width: 9999em;
  opacity: 0;
  transition: opacity $ts;
  &.__loaded {
    opacity: 1;
  }
  .card {
    float:left;
    //width:100vw;
    >.inner {
      position:relative;
      display:inline-block;
      vertical-align: top;
      .caption {
        position: absolute;
        left: 0;
        bottom: 0;
        max-width: 100%;
        padding: 0 5px;
        line-height: 30px;
        font-size: 12px;
        background: rgba(black,.35);
        @media($dt) {
          font-size: 16px;
          line-height: 50px;
          padding: 0 25px;
        }
      }
    }
  }
  .slick-dots {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-top: 15px;
    text-align: center;
    line-height:1px;
    > li {
      margin: 0 3px;
      display:inline-block;
      vertical-align:top;
      opacity: .5;
      &.slick-active {
        opacity:1;
      }
      button {
        display:block;
        width: 6px;
        height: 6px;
        font-size: .1em;
        background: white;
        border-radius: 50%;
        text-indent: -9999px;
        cursor:pointer;
      }
    }
  }
  /*button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 50px;
    background: rgba(black,.9);
    @media($dt) {
      width: 50px;
      height: 100px;
    }
    svg {
      width: 15px;
      height: 15px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      @media($dt) {
        width: 30px;
        height: 30px;
      }
      > * {
        fill: white;
      }
    }
    &.slick-prev {
      right: auto;
      left: 0;
      transform: translateY(-50%) ;
      svg {
        transform: translate(-50%, -50%) rotate(180deg);
      }
    }
    @media(min-width: 1340px) {
      right: -70px;
      background: none;
      border: 1px solid black;

      &.slick-prev {
        left: -70px;
      }
    }
  }*/
}
