

#workspace-modal {
  background: white;
  background: linear-gradient(to bottom, white 0%, #9ad7d2 100%);

  html.__modal-opened & {
    /*opacity: 1;
    transform: translateX(0);
    transition: transform 0s 0s, opacity $ts;*/
  }
  .modal-close {
    background: none;
    svg {
      > * {
        fill: $teal-dark;
      }
    }
  }
  &.images-loaded {
    .spinner {
      opacity: 0;
    }
    .slider {
      opacity: 1;
    }
  }

  .inner {
    position:absolute;
  //  left: 50%;
    top: 50px;
    bottom: 0;
    width:100%;
    @media(min-width:1000px) {
      top: 0;
    }
  //  max-width:1200px;
  //  transform: translateX(-50%);

  }

  .words {
    position:absolute;
    left: 0;
    top: -50px;
    right: 50px;
    text-align: left;
    line-height: 50px;
    height:50px;
    padding: 0 20px;
    transition: opacity $ts;
    &.__changing {
      opacity: 0;
    }
    @include text-overflow();
    @media(min-width:1000px) {
      white-space: normal;
      line-height: normal;
      top: 0;
      height: auto;
      width: 280px;
      padding: 20px;
      .dash {
        display:none;
      }
    }
    @media(min-width:1400px) {
      width:295px;
      padding: 60px 20px 0 60px;
    }
    h2 {

    }
    .copy {
      font-size: 14px;
      color:$dark-green;
      text-transform:uppercase;
      br {
        display: none;
        @media(min-width:1000px) {
          display:block;
        }
      }
      @media($dt) {
        font-size: 21px;
      }
    }
    * {
      display:inline;
      @media(min-width:1000px) {
        display:block;
      }
    }
  }
  .slider {
    position:relative;
    height: 100%;
    opacity: 0;
    transition: opacity $ts;
    .slick-list,.slick-track {
      height: 100%;
    }
    button {
      position: absolute;
      right: 0px;
      top: 50%;
      transform:translateY(-50%);
      width: 50px;
      height: 50px;
      background: none;
      @media(min-width:1000px) {
        width:38px;
        right: 45px;
      }
      svg {
        width: 25px;
        height: 25px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform:translate(-50%,-50%);
        @media(min-width:1000px) {
          width:38px;
          height: 38px;
        }
        > * {
          fill:$teal-dark;
          color: $teal-dark;

        }
      }
      &.slick-prev {
        right: auto;
        left: 0px;
        @media(min-width:1000px) {
          left: 45px;
        }
        svg {
          transform:translate(-50%,-50%) rotate(180deg);
        }
      }
    }
    .slide {
      position:relative;
      height: 100%;

      .img-container {
        position:relative;
      //  width: 100%;
        height: 100%;
        //margin: 0 295px;
        margin: 0 25px;
        @media(min-width:1000px) {
          margin: 0 295px;
        }
      }
      img {
        position: absolute;
        max-width: 95%;
        max-height: 95%;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
      }
    }
  }


}


//SPinner
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
