#workspace {
  > #elevation-section >.container-1200 {
    padding-top: 70px;
    @media($dt) {
      padding-top:280px;
    }
  }
  .elevation {
    padding-top: 50px;
    @media($dt) {
      padding-top:130px;
    }
    .inner{

    }
    .mob-elevation {
      max-width: (100% - (percentage(12/320)*2));
      @media($dt) {
        display:none;
      }
    }
  }
  .dt-elevation {
    display:none;
    @media($dt) {
      display:inline-block;
      position:relative;
      .cutter {
        overflow:hidden;
        position:relative;
      }
      img {
        pointer-events: none;
        position:relative;
      }
      //LIGHTS
      //OPACITY .47
      .lights {
        position:absolute;
        width: 500px;

        left: 80px;
        top: 2px;
        div {
          height: 20px;
          position:relative;
          background: white;
          left: 48px;
          width:206px;
          opacity: 0;
          &.__activated {
            animation: hilighter .5s linear 1 ;
          }
          &.fl-45 {
            position: absolute;
            top: 7px;
            left: 130px;
            width: 41px;
            height: 22px;
            background: url('#{$imgDir}/fl-light.png') top left no-repeat;
            background-size: cover;
            z-index:1;
            transition: opacity $ts ;
            animation: none;
            &.__activated {
              opacity: .47;
            }
          }
          &.fl-44 {
            left: 121px;
            width:61px;
            height: 31px;
            background: url('#{$imgDir}/fl-43.png') top left no-repeat;
            background-size: cover;
          }
          &.fl-43 {
            width:60px;
            height:7px;
            background:white;
            left: 122px;
            &:before {
              display:block;
              content:'';
              position:absolute;
              left: -7px;
              top: 0;
              border-style: solid;
              border-width: 0 0px 7px 7px;
              border-color: transparent transparent white transparent;
            }
            &:after{
              display:block;
              content:'';
              position:absolute;
              right: -7px;
              top: 0;
              border-style: solid;
              border-width: 0 7px 7px 0px;
              border-color: transparent transparent white transparent;
            }
          }
          &.fl-42 {
            width:75px;
            height:15px;
            background:white;
            left: 114px;
            &:before {
              display:block;
              content:'';
              position:absolute;
              left: -15px;
              top: 0;
              border-style: solid;
              border-width: 0 0px 15px 15px;
              border-color: transparent transparent white transparent;
            }
            &:after{
              display:block;
              content:'';
              position:absolute;
              right: -15px;
              top: 0;
              border-style: solid;
              border-width: 0 15px 15px 0px;
              border-color: transparent transparent white transparent;
            }
          }
          &.fl-41 {
            background: white;
            width: 104px;
            height: 15px;
            left: 100px;
          }
          &.fl-40 {
            width:157px;
            height: 10px;
            background: url('#{$imgDir}/fl-42.png') top left no-repeat;
            background-size: cover;
            left: 72px;
            margin-top:-1px;
          }
          &.fl-39 {
            width:175px;
            height: 10px;
            background: url('#{$imgDir}/fl-41.png') top left no-repeat;
            background-size: cover;
            left: 64px;
          }
          &.fl-38 {
            width:207px;
            height: 16px;
            background: url('#{$imgDir}/fl-40.png') top left no-repeat;
            background-size: cover;
            left: 48px;

          }
          &.fl-35,&.fl-31,&.fl-23,&.fl-19,&.fl-15,&.fl-10,&.fl-8 {
            height: 21px;
          }
          &.fl-7,&.fl-6,&.fl-5,&.fl-4,&.fl-3,&.fl-2,&.fl-1 {
            left: 0;
            width:255px;
          }
          &.fl-1 {
            height: 28px;
          }
        }
      }
      .elevator-imgs {
        position:absolute;
        left: 0;
        bottom:4px;
        width:100%;
        height:100%;
        overflow:hidden;
        pointer-events: none;
        img {
          pointer-events: none;
          position: absolute;
          bottom: 0px;
          transform:translateY(100%);
          transition: transform $ts;
          &.__activated {
            transform:translateY(0);
          }
          &.e-1 {
            left: 256px;
          }
          &.e-2 {
            left: 277px;
          }
          &.e-3 {
            left: 298px;
          }
        }
      }
      .e-labels {


        span {
          opacity: 0;
          transition: opacity $ts;
          display:block;
          position: absolute;
          left: 265px;
          bottom: 30px;
          color: $white;
          font-size: 9px;
          font-weight: bold;
          text-transform:uppercase;
          line-height: 15px;
          transform-origin: left center;
          transform: rotate(-90deg);
          pointer-events:none;
          &.__activated {
            opacity: 1;
          }
          &.e-2 {
            left: 285px;
          }
          &.e-3 {
            left: 306px;
          }
        }
      }

      .hilights {
        > a {
          display:block;
          opacity:.0;
          position: absolute;
          cursor:pointer;
          transition: opacity $ts;
          &:hover,&.__hovering {
            opacity:.25;
          }
          &.bwb {
            left: 78px;
            bottom: 2px;
            width:258px;
            height: 413px;
            background: url('#{$imgDir}/bwb-hilight.png');
          }
          &.towerfloors {
            left: 129px;
            bottom: (414px);
            width:205px;
            height: (264px);
            background: url('#{$imgDir}/towerfloor-hilight.png');

          }
          &.penthouse {
            left: 129px;
            bottom: (413px+264);
            width:208px;
            height: (136px);
            background: url('#{$imgDir}/penthouse-hilight.png');

          }
        }
      }
      .poplinks {
        position:absolute;
        right: 420px;
        top: 90px;
        text-align: right;

        > li {
          &.towerfloors {
            padding-top: 160px;
          }
          &.bwb {
            padding-top:256px;
          }
          a {
            display:inline-block;
            border: 1px solid $black;
            color: $black;
            font-size: 12px;
            line-height:33px;
            padding: 0 8px;
            text-transform:uppercase;
            font-weight:400;
            letter-spacing:.15em;
            white-space: nowrap;
            transition: all $ts;
            &:hover, &.__hovering {
              color:$white;
              border-color:$white;
            }
          }
        }
      }
    }


  }
  #download-list {
    margin-top: 48px;
    @media($dt) {
      margin-top: 115px;
    }
    > ul {
      > li {
        padding-top: 15px;
        @media(min-width:950px) {
          display:inline-block;
          width: 24.5%;
        }
        &:first-child {
          padding:0;
        }
      }
    }
  }
}


@keyframes hilighter {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.47;
  }
  100% {
    opacity: 0;
  }
}
