#availabilities {
  > #elevation-section >.container-1200 {
    padding-top: 70px;
    @media($dt) {
    //  padding-top:575px;
    padding-top: 170px;
    padding-top:0;
    }
  }
  .elevation {
    padding-top: 50px;
    @media($dt) {
      padding-top:130px;
    }
    .inner{

    }
    .mob-elevation {
      max-width: (100% - (percentage(12/320)*2));
      @media($dt) {
        display:none;
      }
    }
  }
  .dt-elevation {
    $e-wide : 'min-width:710px';
    //display:none;
  //  width: 292px;
    height:648em;
    margin: 0 auto;
    width: 100% - (percentage(12/320)*2);
    max-width: 388px;

      //display:inline-block;
      position:relative;
      @media($e-wide) {
        left: 120px;
      }
      .cutter {
        overflow:hidden;
        position:relative;
        height:100%;
        &:after {
          position: absolute;
          display:block;
          content:'';
          width:13em;
          height: 19em;
          background: black;
          bottom: 1em;
          left: 134em;
        }
      }
       img.main-elevation {
         pointer-events: none;
         position:absolute;
         left: 0;
         top: 0;
         width: 271em;
         height: 100%;
         backface-visibility:hidden;
         @media($e-wide) {
           top:-1px;
         }
      }
      .avail-list {
        position: absolute;
        right: 0;
        top: 0;
        padding-top:78.8em;
        .list-item {
          //position: absolute;
          //right: 0;
          //top: 78em;
          text-align:right;
          height:15.2em;

          line-height:15.2em;
          white-space: nowrap;
          display:block;
          a {
            display:block;
          }
          &.no-show {
            visibility: hidden;
            pointer-events: none;
          }
          span {
            font-size: 7.5em;
            color: black;
            text-transform: uppercase;
            font-weight: bold;
          }
          &.fl-13 {
            display:none;
          }
          &.fl-27 {
          //  height:15.5em;
          }

        }
      }
      //LIGHTS
      //OPACITY .47
      .lights {
        position:absolute;
        width: 193em;

        left: 0em;
        top: 0em;
      //  z-index:2;
        div {
          height: 15em;
          position:relative;
          background: white;
          left: 37em;
          width:156em;
          opacity: 0;
          transition: opacity $ts;
          &.halved {
            &:before {
              display:block;
              content:'';
              position:absolute;
              left: 0;
              top: 0;
              height: 100%;
              width:50%;
              background:transparent;
              transition: background $ts;
            }
          }
          &.__activated {
            animation: hilighter .5s linear 1 ;
            &.enabled {
              animation: hilighter-stay .25s linear 1 ;
              animation-fill-mode: forwards;
              opacity:.47;
              transition-delay: $ts;
            }
          }
          &.halved {
            opacity:1;
            background: transparent;
            &.__activated {
              animation: hilighter-halved .5s linear 1 ;
              &.enabled {
                opacity:1;
                &:before {
                  background: rgba(white,.47);
                  transition-delay:$ts/2;
                }
              }
            }
          }
          &.fl-45 {
            position: absolute;
            top: 6.5em;
            left: 101.5em;
            width: 28em;
            height: 16em;
            background: url('#{$imgDir}/fl-light.png') top left no-repeat;
            background-size: 100% 100%;
            z-index:1;
            transition: opacity $ts ;
            animation: none;
            border: 0;
            &.__activated {
              opacity: .47;
            }
          }
          &.fl-44 {
            left: 93em;
            width:46em;
            height: 25em;
            background: url('#{$imgDir}/fl-43.png') top left no-repeat;
            background-size: 100% 100%;
            border: 0;

          }
          &.fl-43 {
            width:48em;
            height:5em;
            background:white;
            left: 91em;

            &:before {
              display:block;
              content:'';
              position:absolute;
              left: -4.5em;
              top: 0;
              border-style: solid;
              border-width: 0 0px 5em 5em;
              border-color: transparent transparent white transparent;
            }
            &:after{
              display:block;
              content:'';
              position:absolute;
              right: -4em;
              top: 0;
              border-style: solid;
              border-width: 0 5em 5em 0px;
              border-color: transparent transparent white transparent;
            }
          }
          &.fl-42 {
            width:58em;
            height:12em;
            background:white;
            left: 86em;

            &:before {
              display:block;
              content:'';
              position:absolute;
              left: -11em;
              top: 0;
              border-style: solid;
              border-width: 0 0px 12em 12em;
              border-color: transparent transparent white transparent;
            }
            &:after{
              display:block;
              content:'';
              position:absolute;
              right: -11em;
              top: 0;
              border-style: solid;
              border-width: 0 12em 12em 0px;
              border-color: transparent transparent white transparent;
            }
          }
          &.fl-41 {
            background: white;
           width:80em;
            height: 9em;
            left: 75em;
          }
          &.fl-40 {
            width:116em;
            height: 7em;
            background: url('#{$imgDir}/fl-42.png') top left no-repeat;
            background-size: 100% 100%;
            left: 57em;
            //margin-top:-1px;
          }
          &.fl-39 {
            width:130em;
            height: 8em;
            background: url('#{$imgDir}/fl-41.png') top left no-repeat;
            background-size: 100% 100%;
            left: 50em;
          }
          &.fl-38 {
            width:153em;
            height: 12.5em;
            background: url('#{$imgDir}/fl-40.png') top left no-repeat;
            background-size:100% 100%;
            left: 38em;

          }
          &.fl-35,&.fl-31,&.fl-23,&.fl-19,&.fl-15,&.fl-10,&.fl-8 {
            height: 16em;
          }
          &.fl-6,&.fl-5,&.fl-4,&.fl-3,&.fl-2,&.fl-1 {
            left: 0;
            width:193em;
          }
          &.fl-6,&.fl-5 {
            height: 16em;
          }
          &.fl-1 {
            height: 21em;
          }
        }
      }
      .elevator-imgs {
        position:absolute;
        left: 0;
        bottom:1.5em;
        width:100%;
        height:100%;
        overflow:hidden;
        pointer-events: none;
        img {
          pointer-events: none;
          position: absolute;
          bottom: 0px;
          transform:translateY(100%);
          transition: transform $ts;
          width:12em;
          &.__activated {
            transform:translateY(0);
          }
          &.e-1 {
            left: 134em;
            height:157em;
          }
          &.e-2 {
            left: 134.5em + 15em;
            height:263em;
          }
          &.e-3 {
            left: 134em + 15em + 16em;
            height:568em;
          }
        }
      }
      .e-labels {

        display:none;
        @media($e-wide) {
          display:block;
        }
        > span {
          opacity: 0;
          transition: opacity $ts;
          display:block;
          position: absolute;
          left: 134em + 8em;
          bottom: 20em;
          color: black;
          white-space: nowrap;
          font-weight: bold;
          text-transform:uppercase;
          line-height: 12em;
          transform-origin: left center;
          transform: rotate(-90deg);
          pointer-events:none;
          > span {
            font-size: 7em;
          }
          &.__activated {
            opacity: 1;
          }
          &.e-2 {
            left: 134em + 8em + 15em;
          }
          &.e-3 {
            left: 134em + 8em + 15em + 15em;
          }
        }
      }

      .hilights {
        display: none;
        @media($e-wide) {
          display:block;
        }
        > a {
          display:block;
          opacity:.0;
          position: absolute;
          cursor:pointer;
          transition: opacity $ts;

          &:hover,&.__hovering {
            opacity:0;
          }
          &.bwb {
            left: 1px;
            bottom: 2px;
            width:258px;
            height: 413px;
            background: url('#{$imgDir}/bwb-hilight.png');
          }
          &.towerfloors {
            left: 50px;
            bottom: (416px);
            width:207px;
            height: (264px);
            background: url('#{$imgDir}/towerfloor-hilight.png');

          }
          &.penthouse {
            left: 50px;
            bottom: (680px);
            width:208px;
            height: (136px);
            background: url('#{$imgDir}/penthouse-hilight.png');

          }
        }
      }
      .poplinks {
        position:absolute;
        left: -20px;
        bottom: -2px;
        text-align: right;
        display: none;
        width: 22px;
        height: 819px;
        background: url('#{$imgDir}/poplinks-grid.png') top left no-repeat;
        background-size: 100% 100%;
        @media($e-wide) {
          display:block;
        }

        > li {
          position: absolute;
          right: 40px;
          top: 46px;
          &.towerfloors {
            top:241px;
          }
          &.bwb {
            top:532px;
          }
          a {
            display:inline-block;
            border: 1px solid $black;
            color: $black;
            font-size: 12px;
            line-height:33px;
            padding: 0 8px;
            text-transform:uppercase;
            font-weight:400;
            letter-spacing:.15em;
            white-space: nowrap;
            transition: all $ts;
            color:$white;
            border-color:$white;
            &:hover, &.__hovering {
              color:$white;
              border-color:$white;
            }
          }
        }
      }



  }
  #download-list {
    margin-top: 48px;
    @media($dt) {
      margin-top: 115px;
    }
    > ul {
      > li {
        padding-top: 15px;
        @media(min-width:950px) {
          display:inline-block;
          width: 24.5%;
        }
        &:first-child {
          padding:0;
        }
      }
    }
  }
  #workspace-gal {
    padding-top: 20px;
    @media($dt) {
      padding-top: 75px;
    }
  }
}


@keyframes hilighter {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.47;
  }
  100% {
    opacity: 0;
  }
}
@keyframes hilighter-halved {
  0% {
    background: rgba(white,0)
  }
  50% {
    background: rgba(white,0.47)
  }
  100% {
    background: rgba(white,0);
  }
}
@keyframes hilighter-stay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.47;
  }

}
