#intro {
  padding:40px 0 0;
  @media($dt) {
    padding-top: 135px;
  }
  .copy-container {
    @media($dt) {
      max-width:700px;
    }
  }
  p {
    color: $teal;
    @media($dt) {
      font-size:24px;
    }
  }
  h1 {
    br {
      @media($dt) {
        display:none;
      }
    }
  }
}
#intro-video {
  padding-top: 60px;
  @media($dt) {
    padding-top:85px;
  }
  .video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: percentage(175/320);
    @media(min-width:900px) {
      width:900px;
      margin: 0 auto;
      padding: 0;
      height: 500px;
      box-shadow: 0 3px 7px rgba(black,.5);
    }
    iframe {
      display:block;
      position:absolute;
      left: 0;
      top: 0;
      width:100%;
      height: 100%;
      background: $teal;
    }
  }
}
